#title {
  font-weight: bold;
  letter-spacing: -1px;
}

.home {
  overflow-y: hidden !important;
  background: $twitch;
  //url('../../assets/images/bg.png');
  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  // #chart-grid{
  //   justify-content: space-between;
  // }
  #stats-grid {
    background: #e6d9ff;
    max-height: 20%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    // box-shadow: 0px -5px 10px $quatre;
  }

  #category-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    ion-col > button {
      font-size: 1em;
      border-radius: 0 !important;
      font-weight: bold;
      letter-spacing: 2px;
      background: #2a0845;
      color: #fafafa;
    }
  }

  ion-list {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    .item {
      background: #e6d9ff;
      border: 0;
      height: 50px;
      padding-left: 0;
      overflow: visible;

      .item-inner {
        padding-right: 0;
        border-bottom: 0;

        .input-wrapper {
          width: 75px;

          ion-label {
            margin: 0;
          }
        }
      }

      ion-radio {
        margin: 0;
      }

      .radio-icon {
        display: none;
      }
    }

    .item-radio ion-label {
      display: flex;
      justify-content: center;
      font-weight: bold;
      color: #2a0845;
      font-size: 1.1em;
    }

    .item-radio-checked ion-label {
      color: white;
      background-color: #a48dd3;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }

  #category {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 5px 5px 0 0;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 4px;

    .item {
      background: rgba(255,255,255,0.5);
      border: 0;
      height: 35px;
      min-height: 35px !important;
      padding-left: 0;
      overflow: visible;

      .item-inner {
        padding-right: 0;
        border-bottom: 0;

        .input-wrapper {
          width: 60px;

          ion-label {
            margin: 0;
          }
        }
      }

      ion-radio {
        margin: 0;
      }

      .radio-icon {
        display: none;
      }
    }

    .item-radio ion-label {
      display: flex;
      justify-content: center;
      font-weight: bold;
      color: #2a0845;
      font-size: 1em;
    }

    .item-radio-checked ion-label {
      color: #2a0845;
      background-color: white;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
  // #imglistwrapper{
  //     height: 100px;
  //     top: 82.5%;
  //     overflow-y: hidden;
  //     scroll-content{
  //       border-bottom-right-radius: 4px;
  //       border-bottom-left-radius: 4px;
  //       height: 60px;
  //     }
  //   }
  //   .imglist{
  //     width: 75px;
  //     height: 75px;
  //     background: #e6d9ff;
  //     display: flex;
  //     flex-direction: row;
  //     align-items: center;
  //     justify-content: center;
  //     h5{
  //       color: #2a0845;
  //       font-weight: bold;
  //       letter-spacing: 2px;
  //     }
  //     transition: 0.1s ease-in-out;
  //   }
  //   ion-scroll{
  //     height: 75px;
  //     scroll-content{
  //       padding: 0px;
  //     }
  //   }
  //   .imglistcol{
  //     padding: 0px;
  //     // &:nth-child(1){
  //     //   .imglist{
  //     //     background: #a48dd3;
  //     //     h5{
  //     //       color: white;
  //     //     }
  //     //   }
  //     // }
  //   }
  .lbl {
    color: #aa8aec;
    letter-spacing: -1px;
    margin-top: -30px;
  }

  #border {
    border-right: 4px dotted rgba(160, 136, 208, 0.4);
    transform: skewX(-20deg);
    height: 45px;
    align-self: center;
    margin-left: -10px;
  }

  .val {
    color: $cinq;
    //font-family: 'Roboto Condensed', sans-serif;
    font-weight: light;
    font-size: 2.1em;
    margin-top: 10px;
    letter-spacing: -2px;
  }

  #sym {
    text-shadow: none;
    font-size: 0.75em;
    //margin-left: 5px;
  }

  #chart-grid {
    background: rgba(100, 65, 165, 0.5);
    height: 65%;
    // box-shadow: 0px 0px 15px $quatre;
    position: relative;
    z-index: -1;
    padding: 0;
  }

  .chart-row {
    padding: 0;
  }

  .div-chart {
    width: 100%;
    height: 95%;
  }

  #chart {
    .c3-line-credit,
    .c3-line-debit {
      stroke-width: 2px;
      fill: transparent;
    }

    .c3-area-credit,
    .c3-area-debit {
      opacity: 0.5 !important;
    }

    path.domain {
      display: none;
    }

    line {
      //  display: none;
      stroke: white;
      opacity: 0.25;
      stroke-width: 1px;
    }

    .tick text {
      opacity: 0.5 !important;
    }

    .c3-circle {
      stroke-width: 1px;
      stroke: #fafafa;
    }

    .c3-axis-y text {
      font-size: 0.85em;
      letter-spacing: 2px;
      stroke: #fafafa;
      fill: #fafafa;
    }

    .c3-axis-x text {
      letter-spacing: 0;
      font-size: 0.85em !important;
      font-weight: 100;
      stroke: #bd99ff;
      fill: #bd99ff;
    }

    .c3-legend-item {
      display: none;
    }

    .c3-chart-arcs-title {
      fill: #e6d9ff;
      opacity: 0.25 !important;
      //stroke-width: 1px;
      //letter-spacing: 1px;
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: bold;
      transform: translateY(5px);
      // text-shadow: 0 3px 6px #333;
    }

    .c3-chart-arc path {
      stroke: transparent !important;
    }

    .c3-chart-arc text {
      font-size: 1.2em;
      fill: white;
      font-weight: bold;
      // text-shadow: 0 3px 6px #333;
    }
  }

  #y-wrap {
    position: absolute;
    height: 65%;
    width: 15%;
    background: rgba(250,250,250,0.2);
    // }
    // .y-hide{
    // transition: 0.5s ease-in-out;
    transform-origin: left;
    animation: yscale 0.4s ease-in-out forwards;
  }

  .c3-tooltip-container {
    .c3-tooltip {
      box-shadow: 0 0 6px #333;

      tbody {
        tr > th {
          letter-spacing: -1px !important;
          border-bottom: 1px solid white !important;
          margin-left: 10px !important;
          color: #a48dd3 !important;
          background: white !important;
        }
        border: 2px solid white !important;

        .c3-tooltip-name--credit,
        .c3-tooltip-name--debit {
          border: 1px solid white !important;
          font-size: 1em !important;
          font-weight: bold !important;
          text-transform: uppercase !important;
          letter-spacing: 1px !important;
          background: white;

          span {
            display: none !important;
          }
        }

        .c3-tooltip-name--credit .name {
          color: #39b88c !important;
        }

        .c3-tooltip-name--debit .name {
          color: #e53935 !important;
        }

        td {
          padding: 3px;
        }

        .value {
          border-left: 1px solid white;
          color: #999 !important;
        }
      }
    }
  }
}

ion-card {
  margin: 0;
  background: transparent;
  border-radius: 4px;
  box-shadow: none;
  width: 100%;

  .item {
    background: transparent;

    h4 {
      font-weight: bold;
      color: white;
      //text-shadow: 0 3px 6px #333;
      letter-spacing: -1px;
    }

    p {
      font-size: 0.5em;
      color: #aa8aec;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0;
    }

    ion-icon {
      color: white;
      font-size: 2.5em;
      font-weight: 100;
    }

    .item-button {
      height: 100%;
    }
  }
}

.toolbar-background {
  border: 0;
  background: transparent;
  border-bottom-width: 0;
}
@keyframes yscale {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
// scroll-content{
//   overflow-x: hidden;
//   overflow-y: hidden;
// }