<!-- <ion-header no-shadow>

  <ion-navbar>

  </ion-navbar>

</ion-header> -->


<ion-content padding class="home">
    <ion-card>
      <ion-item>
        <ion-avatar item-left>
          <!-- <img src="./assets/images/prof_img.jpg"/> -->
          <ion-icon name="contact"></ion-icon>
        </ion-avatar>
        <h4>{{name}}</h4>
        <p>{{today | date:'h:mm'}} | {{today | date:'d'}} {{today | date:'MMM'}}' {{today | date:'y'}}</p>
        <button item-right clear (click)="logoutAlert()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-item>
    </ion-card>

    <ion-grid id="stats-grid">
      <ion-row>
        <ion-col class="stats" width-50>
          <p class="val"> {{totalcredit}} <span id="sym"><ion-icon name="md-arrow-dropup" style="color:#32db54"></ion-icon></span></p>
          <p class="lbl">Amount Credited</p>
        </ion-col>
        <ion-col id="border">
        </ion-col>
        <ion-col class="stats" width-50>
          <p class="val"> {{totaldebit}} <span id="sym"><ion-icon name="md-arrow-dropdown" style="color:#f53d3d"></ion-icon></span></p>
          <p class="lbl">Amount Debited</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div id="y-wrap" *ngIf="yshow"></div>

    <ion-grid id="chart-grid">

      <ion-row id="category-row">
        <ion-col width-25></ion-col>
        <!-- <ion-col>
          <button ion-button small (click)="all()">ALL</button>
        </ion-col>
        <ion-col>
          <button ion-button small (click)="cib()">CIB</button>
        </ion-col>
        <ion-col>
          <button ion-button small (click)="rib()">RIB</button>
        </ion-col> -->
        <ion-list id="category" radio-group>
          <ion-item>
            <ion-label>ALL</ion-label>
            <ion-radio checked="true" (click)="all()"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>CIB</ion-label>
            <ion-radio (click)="cib()"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>RIB</ion-label>
            <ion-radio (click)="rib()"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-row>

      <ion-row class="chart-row">
        <ion-col>
            <div class="div-chart" *ngIf="isAll">
              <all [trans]="transactions" (dcSum)="dcamount($event)"></all>
            </div>
            <div class="div-chart" *ngIf="isCib">
              <cib [trans]="transactions" (dcSum)="dcamount($event)"></cib>
            </div>
            <div class="div-chart" *ngIf="isRib">
              <rib [trans]="transactions" (dcSum)="dcamount($event)"></rib>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <scroll-content id="imglistwrapper">
        <ion-scroll scrollX="true" id="scroll">
            <ion-row>
                <ion-col class="imglistcol" *ngFor="let cur of curs">
                    <div #curdiv class="imglist" (click)="checked(cur)">
                      <h5>{{cur}}</h5>
                    </div>
                </ion-col>
            </ion-row>
        </ion-scroll>
    </scroll-content> -->

    <ion-list radio-group>
      <ion-item id="allcurs">
        <ion-label>ALL</ion-label>
        <ion-radio checked="true" (click)="checked(cur)"></ion-radio>
      </ion-item>
      <ion-item id="curitems" *ngFor="let cur of curs">
        <ion-label>{{cur}}</ion-label>
        <ion-radio (click)="checked(cur)"></ion-radio>
      </ion-item>
    </ion-list>

</ion-content>

<!-- <script type="text/javascript">
  var svg = d3.select("#chart")
    .append("svg");
  var defs = svg.append("defs");
  var filter = defs.append("filter")
    .attr("id","glow-filter")
    .attr("height","100%");

  filter.append("feOffset")
    .attr("in","blur")
    .attr("dx",0)
    .attr("dy",0)
    .attr("result","offOut");

  filter.append("feGaussianBlur")
    .attr("in","SourceAlpha")
    .attr("stdDeviation", 5)
    .attr("result", "blur");

  filter.append("feBlend")
    .attr("in","SourceGraphic")
    .attr("in2","blurOut")
    .attr("mode","normal");
</script> -->
