.landing {
  //background: $twitch;
  background:
  //url('../../assets/images/bg.png');
  $twitch;
  //background-size: auto;
  overflow: hidden;
  #bg {
    position: absolute;
    z-index: -1;
    //background: rgba(0,0,0,0.5);
  }

  .center-col,
  ion-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  img {
    margin-top: 5%;
    width: 65%;
    height: 65%;
    margin-left: 2%;
  }

  #atitlerow {
    margin-top: 1%;
  }

  #apptitle {
    font-size: 1.25em;
    font-weight: bold;
    color: #fafafa;
    letter-spacing: 2px;
  }

  #underline {
    margin-top: -7.5%;
    border-bottom: 5px solid rgba(190,149,255,0.5);
  }

  #time-row {
    margin-top: 25%;
    height: 50px;
  }

  #baseline {
    align-items: baseline;
  }

  #time {
    color: white;
    //font-weight: 100;
    // font-family: 'Roboto Condensed';
    font-size: 4.5em;
    letter-spacing: -2px;
  }

  #date-row {
  //  margin-top: -15%;
  }

  #date {
    font-size: 0.75em;
    font-weight: 900;
    letter-spacing: 1px;
    color: #be95ff;
    text-transform: uppercase;
  }

  #monyear {
    font-weight: 100;
    letter-spacing: 0;
  }

  #auth-row {
   margin-top: 10%;
   flex-direction: column;
  }

  // #touch {
  //   font-size: 1.5em;
  //   font-weight: 100;
  //   color: #fafafa;
  // }

  #touchbtn{
    border-radius: 50%;
    background: rgba(190,149,255,1);
    width: 60px;
    height: 60px;
  }
  // #touchbg {
  //   width: 10%;
  //   height: 10%;
  //   background: rgba(189,189,189,0.50);
  //   border-radius: 50%;
  // }

  // ion-icon{
  //   color: white;
  //   font-size: 2em !important;
  // }

  #btn_login_row{
    margin-top: 20%;
  }

  #navtologin{
    background: #e6d9ff;
    border-radius: 0;
    padding: 7%;
    width: 80%;
    p{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
}

.text-shadow {
  text-shadow: 0 3px 6px rgba(0,0,0,0.5);
}
