<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="landing">
  <div id="bg"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="./assets/images/CBQ_Logo.png" />
      </ion-col>
    </ion-row>
    <ion-row id="atitlerow">
      <ion-col class="center-col" >
        <p id="apptitle">CBQ MOBILE DASHBOARD</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33 id="underline"></ion-col>
    </ion-row>
    <ion-row id="time-row">
      <ion-col class="center-col" id="baseline">
        <h1 id="time" class="text-shadow">{{today | date:'h:mm'}}</h1></ion-col>
    </ion-row>
    <ion-row id="date-row">
      <ion-col class="center-col">
        <h4 id="date">{{today | date:'EEEE'}}, {{today | date:'d'}} {{today | date:'MMM'}}' {{today | date:'y'}}</h4></ion-col>
    </ion-row>

    <ion-row id="btn_login_row">
      <ion-col class="center-col">
        <button id="navtologin" block (click)="navToLogin()">
          <p>tap here to sign in</p>
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
