.toast{
  font-weight: 200;
  text-align: center;
}
.toast-message{
  color: #2a0845;
  background: rgba(255,255,255,0.9);
  border-radius: 5px;
}

.login {
  background: $twitch;
  overflow: hidden;
  #bg {
    position: absolute;
    z-index: -1;
    //background: rgba(0,0,0,0.5);
  }

  .center-col,
  ion-row, {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  img {
  //  margin-top: 5%;
    width: 65%;
    height: 65%;
    margin-left: 2%;
  }

  #atitlerow {
    margin-top: 1%;
  }

  #apptitle {
    font-size: 1.25em;
    font-weight: bold;
    color: #fafafa;
    letter-spacing: 2px;
  }

  #underline {
    margin-top: -7.5%;
    border-bottom: 5px solid rgba(190,149,255,0.5);
  }

  ion-card{
    background: $quatre;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    margin-top: 10%;
    form{
      // padding-right : 5%;
      // padding-left : 5%;
      padding-left: 10%;
      padding-right: 10%;
      //padding-top: 5%;
      padding-bottom: 5%;
      .useritem{
        padding: 0;
        color: white;
        .item-inner{
          padding: 0;
          ion-label{
            text-transform: uppercase;
            letter-spacing: 2px;
            color: white;
            font-weight: 200;
            padding-left: 5%;
            font-size: 0.75em;
          }
          ion-input{
            background: rgba(250,250,250,0.5);
            padding-left: 5%;
            padding-bottom: 1%;
            border: 1px solid white;
            font-weight: 200;
          }
        }
      }
    }
    #signin{
      background: #e6d9ff;
      border-radius: 0;
      padding: 5%;
      margin-top: 10%;
      p{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        color: #2a0845;
      }
    }
    #fingerprintitems{
      ion-label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        .touchbtn{
          background: #2a0845;
          border-radius: 0;
          padding: 6%;
          width: 89%;
          p{
            font-size: 0.85em;
            color: #e6d9ff;
            text-transform: uppercase;
            letter-spacing: 0px;
            font-weight: bold;
          }
        }
      }

    }

  }

}
