<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="login">

  <div id="bg"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="./assets/images/CBQ_Logo.png" />
      </ion-col>
    </ion-row>
    <ion-row id="atitlerow">
      <ion-col class="center-col">
        <p id="apptitle">SIGN IN</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33 id="underline"></ion-col>
    </ion-row>

    <ion-card>
            <form [formGroup]="user" (ngSubmit)="signIn()">
                <ion-item class="useritem">
                  <ion-label floating>username</ion-label>
                  <ion-input type="text" formControlName="username"></ion-input>
                </ion-item>
                <ion-item class="useritem">
                  <ion-label floating>password</ion-label>
                  <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <button id="signin" type="submit" [disabled]="!user.valid" block>
                  <p>sign in</p>
                </button>
            </form>

              <ion-item id="fingerprintitems" *ngIf="androidTouchAvailable || touchIdAvailable">
                <button full class="touchbtn" (click)="appletouch()" *ngIf="androidTouchAvailable" text-center>
                  <p>authenticate with android touch</p>
                </button>
        <!-- *ngIf="touchIdAvailable" *ngIf="androidTouchAvailable" -->
                <button full (click)="androidtouch()" class="touchbtn" *ngIf="touchIdAvailable" text-center>
                  <p>authenticate with touch id</p>
                </button>
              </ion-item>
    </ion-card>

  </ion-grid>
</ion-content>
